.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic-Bold.woff");
  font-weight: 700;
}

body {
  overflow-x: hidden;
  color: #000000;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.i-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0 0 0;
  box-shadow: 0 5px 65px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  z-index: 9;

  &__toggle {
    display: none;
    padding: 6px 0 6px 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;
    position: relative;

    img {
      max-width: 100%;
    }

    &-text {
      display: block;
      position: absolute;
      margin: 0 -7px 0 0;
      right: 0;
      bottom: 0;
      color: #1d1d1d;
      font-size: 12px;
      font-weight: 400;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__text {
    display: inline-block;
    margin: 2px 0;
    opacity: 0.6;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 400;
  }

  &__link {
    display: inline-block;
    margin: 2px 0;
    opacity: 0.6;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1;
      color: #09ab82;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-block;
    padding: 10px 22px;
    border: 1px solid #09ab82;
    background: transparent;
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #09ab82;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__phone {
    display: inline-block;
    margin: 2px 0;
    opacity: 0.6;
    color: #1d1d1d;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1;
      color: #09ab82;
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      display: inline-block;
      position: relative;

      &>a {
        display: inline-flex;
        align-items: center;
        padding: 30px 0;
        color: #1d1d1d;
        font-size: 20px;
        font-weight: 400;

        img {
          display: inline-block;
          margin-right: 10px;
        }

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #09ab82;
          text-decoration: none;
        }
      }
    }
  }

  &__dropper:hover {
    .i-header__drop {
      display: block;
    }
  }

  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 520px;
    margin: 0;
    padding: 30px 50px;
    list-style: none;
    box-shadow: 0 22px 38px rgba(0, 0, 0, 0.27);
    background-color: #ffffff;
    z-index: 8;

    li {
      display: block;
      width: 100%;

      a {
        display: block;
        width: 100%;
        padding: 12px 0;
        color: #1d1d1d;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #09ab82;
          text-decoration: none;
        }
      }
    }
  }
}

.i-big {
  display: block;
  position: relative;
  width: 100%;

  &__card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 600px;
    background-position: center center;
    background-size: cover;
    overflow: hidden;

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      max-width: 660px;
      padding: 5px 0;
    }

    &-subtitle {
      display: block;
      margin: 0 0 15px 0;
      text-shadow: 9px 9px 21px rgba(0, 0, 0, 0.34);
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
    }

    &-title {
      display: block;
      margin: 0;
      text-shadow: 9px 9px 21px rgba(0, 0, 0, 0.34);
      color: #ffffff;
      font-size: 67px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-button {
      display: inline-block;
      margin: 55px 0 0 0;
      padding: 18px 42px;
      box-shadow: 0 0 32px rgba(9, 171, 130, 0.66);
      background-color: #09ab82;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;

      i {
        display: inline-block;
        margin-right: 8px;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #30d8ae;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__prev {
    display: block;
    position: absolute;
    top: 50%;
    left: calc((100vw - 1200px) /2);
    margin-top: -50px;
    margin-left: -140px;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.8);
      text-decoration: none;
    }
  }

  &__next {
    display: block;
    position: absolute;
    top: 50%;
    right: calc((100vw - 1200px) /2);
    margin-top: -50px;
    margin-right: -140px;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.8);
      text-decoration: none;
    }
  }
}

.i-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 150px 0 90px 0;
  background: url('../images/home_seo_bg.svg') no-repeat center top 85px;

  &__content {
    display: block;
    max-width: 374px;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    p {
      display: block;
      margin: 0 0 14px 0;
    }
  }

  &__title {
    display: block;
    margin: 15px 0 35px 0;
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
  }

  &__text {
    display: block;
    margin: 0 0 15px 0;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }

  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 510px;
    box-shadow: 0 12px 21px rgba(0, 0, 0, 0.34);

    &-play {
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
      z-index: 1;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .i-home-seo__video-play {
        transform: scale(0.8);
      }

      text-decoration: none;
    }
  }
}

.i-home-courses {
  display: block;
  position: relative;
  width: 100%;
  padding: 230px 0 210px 0;
  background: url('../images/home_courses_bg.svg') no-repeat center top;
  background-size: 100% auto;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    margin-bottom: 75px;
  }

  &__title {
    display: block;
    margin: 0;
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;

    i {
      display: inline-block;
      margin-right: 8px;
      color: #09ab82;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #09ab82;
      text-decoration: none;
    }
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin-bottom: 30px;
    box-shadow: 0 12px 43px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #09ab82;
      text-decoration: none;

      .i-home-courses__card-title {
        color: #ffffff;
      }

      .i-home-courses__card-text {
        color: #ffffff;
      }

      .i-home-courses__card-link {
        color: #ffffff;
      }
    }

    &-image {
      display: block;
      width: 100%;
      height: 205px;
      background-position: center center;
      background-size: cover;
    }

    &-content {
      display: block;
      width: 100%;
      padding: 36px 26px 26px 26px;
      text-align: center;
    }

    &-title {
      display: block;
      width: 100%;
      height: 24px;
      overflow: hidden;
      margin: 0 0 24px 0;
      color: #1d1d1d;
      font-size: 20px;
      font-weight: 700;
    }

    &-text {
      display: block;
      width: 100%;
      height: 120px;
      overflow: hidden;
      margin: 0 0 20px 0;
      opacity: 0.7;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-link {
      display: block;
      width: 100%;
      color: #09ab82;
      font-size: 16px;
      font-weight: 400;

      i {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.i-home-form {
  display: block;
  position: relative;
  width: 100%;
  min-height: 566px;
  margin-top: -200px;
  padding: 160px 0 50px 0;
  background: url('../images/home_form_bg.png') no-repeat center bottom;
  z-index: 1;

  &__title {
    display: block;
    margin: 0 0 14px 0;
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
  }

  &__text {
    display: block;
    margin: 0 0 50px 0;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;

    input {
      display: block;
      width: 100%;
      max-width: 350px;
      margin-bottom: 30px;
      padding: 7px 0;
      border: 0;
      outline: none;
      border-bottom: 1px solid #ababab;
      background: transparent;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #09ab82;
      }
    }
  }

  &__button {
    display: inline-block;
    padding: 17px 57px 17px 42px;
    border: 0;
    outline: none;
    box-shadow: 0 0 32px rgba(9, 171, 130, 0.66);
    background-color: #09ab82;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    i {
      display: inline-block;
      margin-right: 10px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #30d8ae;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 85px;
  }

  &__info {
    display: inline-block;
    margin: 0;
    opacity: 0.5;
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 400;
  }
}

.i-home-articles {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 125px 0;
  background: url('../images/home_articles_bg.jpg') no-repeat center center;
  background-size: cover;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
  }

  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;

    i {
      display: inline-block;
      margin-right: 8px;
      color: #ffffff;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #09ab82;
      text-decoration: none;
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 12px 43px rgba(0, 0, 0, 0.46);
    background: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .i-home-articles__card-image {
        height: 70px;
      }

      .i-home-articles__card-text {
        display: block;
      }

      .i-home-articles__card-title {
        height: auto;
        max-height: 96px;
      }

      .i-home-articles__card-arrow {
        width: 45px;
      }

      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      height: 230px;
      background-position: center center;
      background-size: cover;
      transition: all 0.2s ease-out;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 45px 50px 50px 50px;
    }

    &-category {
      display: block;
      margin: 0 0 10px 0;
      opacity: 0.5;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
    }

    &-title {
      display: block;
      width: 100%;
      height: 96px;
      overflow: hidden;
      margin: 0 0 30px 0;
      color: #1d1d1d;
      font-size: 20px;
      font-weight: 700;
      transition: all 0.2s ease-out;
    }

    &-text {
      display: none;
      height: 96px;
      overflow: hidden;
      margin: 0 0 60px 0;
      opacity: 0.7;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      transition: all 0.2s ease-out;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      position: relative;
      color: #09ab82;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }

    &-arrow {
      display: inline-block;
      width: 24px;
      height: 10px;
      margin-left: 10px;
      background: url('../images/article_arrow.png') no-repeat right center;
      transition: all 0.2s ease-out;
    }
  }

  &__prev {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    margin-left: -110px;
    outline: none;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.8);
      text-decoration: none;
    }
  }

  &__next {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: -110px;
    outline: none;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.8);
      text-decoration: none;
    }
  }
}

.i-home-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 120px 0 45px 0;
  background: transparent;
  z-index: 1;

  &__title {
    display: block;
    margin: 0 0 68px 0;
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin-bottom: 50px;
    padding: 30px 0 0 30px;

    &-number {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 60px;
      height: 60px;
      left: 0;
      top: 0;
      padding: 2px;
      border-radius: 999rem;
      background-color: #494348;
      color: #ffffff;
      font-size: 35px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      z-index: -1;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      min-height: 180px;
      padding: 30px 55px 10px 55px;
      box-shadow: 0 12px 43px rgba(0, 0, 0, 0.07);
      background-color: #ffffff;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-left: -30px;
        margin-top: -30px;
        border-radius: 30px;
        border: 1px solid #cacaca;
        background: transparent;
        z-index: -2;
      }
    }

    &-image {
      display: block;
      max-width: 44px;
      max-height: 38px;
      margin-bottom: 14px;
    }

    &-text {
      display: block;
      margin: 0;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.i-qa {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -180px;
  padding: 260px 0 330px 0;
  background: url('../images/home_qa_bg.svg') no-repeat center top;
  background-size: 100% auto;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    margin-bottom: 55px;
  }

  &__text {
    display: block;
    margin: 14px 0 0 0;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
  }

  &__title {
    display: block;
    margin: 0;
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;

    i {
      display: inline-block;
      margin-right: 8px;
      color: #09ab82;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #09ab82;
      text-decoration: none;
    }
  }

  &__block {
    display: block;
    position: relative;
    width: 100%;
    box-shadow: 0 12px 43px rgba(0, 0, 0, 0.07);
    background-color: #f6f6f6;
  }

  &__q {
    display: block;
    position: relative;
    width: 100%;
    padding: 28px 50px;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    &.current {
      background: #ffffff url('../images/qa_block_bg.png') no-repeat left top;

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: 100%;
        background: #ffffff;
        left: 100%;
        top: 0;
        transition: all 0.2s ease-out;
      }
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #09ab82;
      text-decoration: none;
    }
  }

  &__a {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    background: #ffffff;
    color: rgba(29, 29, 29, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    &.current {
      display: flex;
    }
  }
}

.i-home-bottom {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -230px;
  background: transparent;

  &__content {
    padding: 80px 0;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    p {
      display: block;
      margin-bottom: 0 0 16px 0;
    }
  }

  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.1;
  }

  &__text {
    display: block;
    margin: 0 0 16px 0;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }

  &__image {
    display: block;
    position: absolute;
    max-width: 100%;
    bottom: 0;
    left: -95px;
  }
}

.i-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 75px 0 65px 0;
  background: #494348;

  &__logo {
    display: inline-block;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      display: inline-block;
      position: relative;

      &>a {
        display: inline-flex;
        align-items: center;
        padding: 0;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;

        img {
          display: inline-block;
          margin-right: 10px;
        }

        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #09ab82;
          text-decoration: none;
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 45px;
  }

  &__link {
    display: inline;
    opacity: 0.3;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1;
      color: #09ab82;
      text-decoration: none;
    }
  }

  &__social {
    display: inline-flex;
    align-items: center;
    position: relative;

    a {
      display: inline-block;
      margin-left: 15px;
      opacity: 0.3;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 1;
        color: #09ab82;
        text-decoration: none;
      }
    }
  }
}

.i-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 25px;
    top: 25px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 715px;
    margin: 10px 0;
    box-shadow: 0 22px 38px rgba(0, 0, 0, 0.27);
    background: #ffffff;
  }

  &__this {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 90px 70px 90px 70px;
    background: #ffffff;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 60px 0;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 350px;

    input {
      display: block;
      width: 100%;
      max-width: 350px;
      margin-bottom: 30px;
      padding: 8px 0;
      border: 0;
      outline: none;
      border-bottom: 1px solid #ababab;
      background: transparent;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #09ab82;
      }
    }
  }

  &__button {
    display: inline-block;
    margin-top: 55px;
    padding: 17px 50px;
    border: 0;
    outline: none;
    box-shadow: 0 0 32px rgba(9, 171, 130, 0.66);
    background-color: #09ab82;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    i {
      display: inline-block;
      margin-right: 10px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #30d8ae;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: inline-block;
    margin: 35px 0 0 0;
    opacity: 0.5;
    color: #1d1d1d;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

.i-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 36px 0;
  list-style: none;
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 400;

  li {
    display: inline-block;

    span {
      display: inline-block;
      margin: 0 5px;
    }

    a {
      display: inline;
      color: #1d1d1d;
      font-family: "Century Gothic";
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #09ab82;
        text-decoration: none;
      }
    }
  }
}

.i-service {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0;
  background: url('../images/service_bg.svg') no-repeat left calc((100vw - 1200px) / 2 - 100px) top 15px;

  &__title {
    display: block;
    margin: 0 0 28px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 700px;
    height: 510px;
    background-position: center center;
    background-size: cover;
  }

  &__subtitle {
    display: block;
    margin: 0 0 24px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
  }

  &__text {
    display: block;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.83;
  }

  &__button {
    display: inline-block;
    padding: 17px 77px 17px 62px;
    border: 0;
    outline: none;
    box-shadow: 0 12px 21px rgba(0, 0, 0, 0.34);
    background-color: #ffffff;
    color: #09ab82;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    i {
      display: inline-block;
      margin-right: 10px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #09ab82;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.i-service-article {
  display: block;
  position: relative;
  width: 100%;
  padding: 35px 0;

  &__big {
    display: block;
    padding-bottom: 40px;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    p {
      margin: 0 0 20px 0;
    }
  }

  &__text {
    display: block;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    p {
      margin: 0 0 20px 0;
    }
  }
}

.i-service-double {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -215px;
  background: url('../images/service_double.svg') no-repeat center top;
  background-size: 100% auto;
}

.i-what {
  display: block;
  position: relative;
  width: 100%;
  padding: 365px 0 0 0;

  &__title {
    display: block;
    margin: 0 0 125px 0;
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  &__card {
    display: block;
    width: 100%;
    max-width: 370px;
    margin-bottom: 100px;

    &-icon {
      max-width: 106px;
      max-height: 106px;
      margin: -40px 0 0 -26px;
    }

    &-title {
      display: block;
      margin: 0 0 24px 0;
      padding-left: 14px;
      color: #1d1d1d;
      font-size: 20px;
      font-weight: 700;
    }

    &-text {
      display: block;
      margin: 0;
      padding-left: 14px;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.i-how {
  display: block;
  position: relative;
  width: 100%;
  padding: 105px 0 100px 0;
  background: url('../images/how_bg.svg') no-repeat center top;
  text-align: center;

  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
  }

  &__subtitle {
    display: block;
    margin: 0 0 20px 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 400;
  }

  &__text {
    display: block;
    margin: 0 0 60px 0;
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;

    span,
    b,
    strong {
      color: #09ab82;
    }
  }

  &__button {
    display: inline-block;
    padding: 17px 77px 17px 62px;
    border: 0;
    outline: none;
    box-shadow: 0 12px 21px rgba(0, 0, 0, 0.34);
    background-color: #09ab82;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    i {
      display: inline-block;
      margin-right: 10px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #30d8ae;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.i-article {
  display: block;
  position: relative;
  width: 100%;
  padding: 25px 0 80px 0;
  background: url('../images/article_bg.svg') no-repeat center top 25px;

  &__subtitle {
    display: block;
    margin: 0 0 18px 0;
    opacity: 0.5;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  &__title {
    display: block;
    margin: 0 0 14px 0;
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 40px 0;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }

  &__description {
    display: block;
    margin: 0 0 30px 0;
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;

    p {
      display: block;
      margin: 0 0 25px 0;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      color: #1d1d1d;
      font-weight: 700;
    }

    h2 {
      font-size: 26px;
      color: #1d1d1d;
      font-weight: 700;
    }

    h3 {
      font-size: 20px;
      color: #1d1d1d;
      font-weight: 700;
    }

    h4 {
      margin-bottom: 5px;
      font-size: 18px;
      color: #1d1d1d;
      font-weight: 700;
    }

    h5 {
      margin-bottom: 5px;
      font-size: 16px;
      color: #1d1d1d;
      font-weight: 700;
    }

    h6 {
      margin-bottom: 5px;
      font-size: 12px;
      color: #1d1d1d;
      font-weight: 700;
    }

    a {
      color: #09ab82;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #09ab82;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      margin: 20px 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        padding-left: 45px;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 400;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 20px;
          top: 0;
          color: #09ab82;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }

    blockquote {
      display: block;
      position: relative;
      width: 100%;
      margin: 20px 0 50px 0;
      padding: 60px 75px;
      border-left: 5px solid #09ab82;
      background: #f6f6f6;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  figure {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 40px;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      box-shadow: 0 12px 21px rgba(0, 0, 0, 0.34);
    }

    figcaption {
      padding-left: 150px;
      padding-top: 30px;
      opacity: 0.5;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  &_img_styled {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 175px;
      left: -175px;
      width: 352px;
      height: 320px;
      background: url('../images/before_1.png') no-repeat center center;
      background-size: contain;
      z-index: -1;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 70px;
      right: -125px;
      width: 212px;
      height: 193px;
      background: url('../images/after_1.png') no-repeat center center;
      background-size: contain;
      z-index: -1;
    }
  }

  &_img_restyled {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 285px;
      left: -135px;
      width: 272px;
      height: 235px;
      background: url('../images/before_2.png') no-repeat center center;
      background-size: contain;
      z-index: -1;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 20px;
      right: -135px;
      width: 287px;
      height: 242px;
      background: url('../images/after_2.png') no-repeat center center;
      background-size: contain;
      z-index: -1;
    }
  }
}

.table {
  margin-bottom: 40px;
  background: #ffffff;
}

.table td,
.table th {
  padding: 20px 22px;
  border: 0;
  color: #1d1d1d;
  font-size: 18px;
  font-weight: 400;
}

.table thead th {
  padding: 18px 22px;
  background: #09ab82;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(9, 171, 130, 0.03);
}

.table-striped tbody tr:nth-of-type(even) {
  background: #ffffff;
}

.table-striped tbody td:nth-of-type(odd) {
  background: rgba(9, 171, 130, 0.03);
}

.table-responsive {
  margin: 20px 0;
  color: #1d1d1d;
  font-size: 18px;
  font-weight: 400;
}

.i-questions {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -100px;
  padding: 150px 0 100px 0;
  background: url('../images/questions_bg.svg') no-repeat center top;
  background-size: 100% auto;

  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 80px 0;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }

  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 12px 43px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;

    &__title {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 36px 100px 36px 70px;
      color: #1d1d1d;
      font-size: 20px;
      font-weight: 400;

      &_active {
        &:after {
          transform: rotate(45deg);
        }
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 106px;
        height: 106px;
        right: 0;
        top: -5px;
        background: url('../images/question_icon.png') no-repeat center center;
        background-size: contain;
        z-index: 1;
        transition: all 0.2s ease-out;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #09ab82;
        text-decoration: none;
      }
    }

    &__content {
      display: none;
      position: relative;
      width: 100%;
      padding: 35px 200px 50px 70px;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;

      p {
        display: block;
        margin: 0 0 20px 0;
        opacity: 0.7;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .i-header__mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .i-header__toggle {
    display: inline-block;
  }

  .i-home-articles__next {
    right: 0;
    margin-right: 0;
  }

  .i-home-articles__prev {
    left: 0;
    margin-left: 0;
  }

  .i-big__next {
    display: none;
    right: 0;
    margin-right: 0;
  }

  .i-big__prev {
    display: none;
    left: 0;
    margin-left: 0;
  }

  .i-qa__q.current:after {
    display: none;
  }

  .i-big__card-title {
    font-size: 28px;
  }

  .i-big__card-button {
    margin-top: 20px;
  }

  .i-big__card {
    min-height: 350px;
  }

  .i-header__dropper:hover .i-header__drop {
    display: none;
  }

  .i-header__info {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
  }

  .i-header__nav {
    padding: 8px 0;
  }

  .i-header__nav>li>a {
    padding: 8px 0;
  }

  .i-home-seo {
    padding: 40px 0;
  }

  .i-home-seo__video {
    height: 300px;
  }

  .i-home-seo {
    background: #ffffff;
  }

  .i-home-seo__title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .i-home-courses {
    padding: 40px 0;
  }

  .i-home-courses__title {
    margin-bottom: 10px;
    line-height: 1;
  }

  .i-home-courses__header {
    margin-bottom: 20px;
  }

  .i-home-courses__card {
    display: block;
    margin: 0 auto 20px auto;
  }

  .i-home-form {
    min-height: auto;
    margin: 0;
    padding: 10px 0 40px 0;
    background: #ffffff;
  }

  .i-home-form__title {
    font-size: 28px;
  }

  .i-home-form__text {
    margin-bottom: 20px;
  }

  .i-home-form__row {
    margin-top: 30px;
  }

  .i-home-form__button {
    margin-bottom: 15px;
  }

  .i-home-form__info {
    margin-bottom: 15px;
  }

  .i-home-articles {
    padding: 40px 0;
  }

  .i-home-features {
    padding: 40px 0;
  }

  .i-home-features__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .i-home-features__card-content {
    padding: 30px 20px;
  }

  .i-home-features__card {
    margin-bottom: 20px;
  }

  .i-qa {
    margin: 0;
    padding: 40px 0;
  }

  .i-home-bottom {
    margin: 0;
  }

  .i-home-bottom__content {
    padding: 40px 0;
  }

  .i-home-bottom__title {
    margin-bottom: 20px;
  }

  .i-home-bottom__image {
    position: relative;
    margin: 0 auto;
    left: 0;
  }

  .i-footer {
    padding: 40px 0;
  }

  .i-footer__logo {
    margin-bottom: 20px;
  }

  .i-footer__info {
    margin-top: 20px;
  }

  .i-footer__social {
    margin-top: 20px;

    a {
      margin: 0;
      padding: 10px 20px 10px 0;
    }
  }

  .i-qa__q.current {
    background: #ffffff;
  }

  .i-qa {
    background: #f6f6f6;
  }

  .i-header__info {
    display: none;
  }

  .i-header__nav {
    display: none;
  }

  .i-header {
    padding: 20px 0;
  }

  .i-modal__this {
    padding: 40px 20px;
  }

  .i-modal__text {
    margin-bottom: 30px;
  }

  .i-modal__close {
    right: 0;
    top: 0;
  }

  .i-modal__button {
    margin-top: 10px;
  }

  .i-modal__info {
    margin-top: 15px;
  }

  .i-breadcrumps {
    padding: 20px 0;
  }

  .i-service {
    padding: 20px 0;
  }

  .i-service__image {
    height: 350px;
    margin-bottom: 15px;
  }

  .i-service__title {
    color: #1d1d1d;
  }

  .i-service__subtitle {
    color: #1d1d1d;
  }

  .i-service__text {
    color: #1d1d1d;
  }

  .i-service-double {
    margin: 0;
    background-size: 100% 100%;
  }

  .i-what {
    padding: 20px 0;
  }

  .i-what__title {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .i-what__card {
    margin-bottom: 30px;

    &-title {
      margin-bottom: 10px;
    }
  }

  .i-how {
    padding: 20px 0 40px 0;
  }

  .i-article_img_styled:before,
  .i-article_img_styled:after,
  .i-article_img_restyled:before,
  .i-article_img_restyled:after {
    display: none;
  }

  .i-article {
    padding: 20px 0;
  }

  .i-article figure figcaption {
    padding: 15px 15px 5px 15px;
  }

  .i-article__content blockquote {
    padding: 30px 20px;
  }

  .i-article__text {
    margin-bottom: 30px;
  }

  .i-questions {
    margin: 0;
    padding: 40px 0;
  }

  .i-questions__text {
    margin-bottom: 30px;
  }

  .i-questions-card__title {
    padding: 30px 100px 30px 20px;
  }

  .i-questions-card__content {
    padding: 30px 20px;
  }

  .i-home-articles__card {
    margin: 0 auto;
  }

  .i-home-features__card {
    margin-left: auto;
    margin-right: auto;
  }

  .i-home-seo__content {
    max-width: 100%;
    margin-top: 30px;
  }

  .i-header__nav>li {
    display: block;
    width: 100%;

    &>a {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .i-qa__q {
    padding: 12px 20px;
    font-size: 14px;
  }

  .i-qa__a {
    padding: 30px 20px;
  }
}